 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
html, body {
  margin: 0px;
  padding: 0px;
  background: #f5f6f1; }
  html .headerWrapper, body .headerWrapper {
    position: relative;
    width: 100%;
    min-width: 950px;
    background: #005151;
    overflow: hidden; }
    html .headerWrapper .header, body .headerWrapper .header {
      position: relative;
      width: 950px;
      margin: 0 auto;
      padding-top: 20px; }
      html .headerWrapper .header a.logo, body .headerWrapper .header a.logo {
        position: relative;
        display: inline-block;
        text-decoration: none;
        vertical-align: top; }
        html .headerWrapper .header a.logo img, body .headerWrapper .header a.logo img {
          position: relative;
          display: inline-block;
          border: 0px;
          vertical-align: top; }
        html .headerWrapper .header a.logo span, body .headerWrapper .header a.logo span {
          position: relative;
          display: inline-block;
          vertical-align: top;
          padding: 17px 0 0 21px;
          font-family: 'Tahoma';
          font-weight: 700;
          font-size: 14px;
          color: #FFCC33;
          line-height: 18px; }
      html .headerWrapper .header .addressWrapper, body .headerWrapper .header .addressWrapper {
        position: absolute;
        display: block;
        top: 0px;
        left: 445px;
        top: 37px;
        text-align: left; }
        html .headerWrapper .header .addressWrapper .address, body .headerWrapper .header .addressWrapper .address {
          position: relative;
          display: block;
          font-family: 'Arial';
          font-weight: 400;
          font-style: normal;
          font-size: 13px;
          color: #fff;
          line-height: normal; }
        html .headerWrapper .header .addressWrapper a, body .headerWrapper .header .addressWrapper a {
          font-family: 'Arial';
          font-weight: 700;
          font-size: 12px;
          text-decoration: underline;
          color: #FFCC33; }
        html .headerWrapper .header .addressWrapper a:hover, body .headerWrapper .header .addressWrapper a:hover {
          text-decoration: none; }
      html .headerWrapper .header .phoneWrapper, body .headerWrapper .header .phoneWrapper {
        float: right;
        display: block;
        padding-top: 13px;
        text-align: right; }
        html .headerWrapper .header .phoneWrapper .phone, body .headerWrapper .header .phoneWrapper .phone {
          position: relative;
          display: block;
          font-family: 'Arial';
          font-weight: 400;
          font-style: normal;
          font-size: 30px;
          color: #fff; }
        html .headerWrapper .header .phoneWrapper a, body .headerWrapper .header .phoneWrapper a {
          font-family: 'Arial';
          font-weight: 700;
          font-size: 12px;
          text-decoration: underline;
          color: #FFCC33; }
        html .headerWrapper .header .phoneWrapper a:hover, body .headerWrapper .header .phoneWrapper a:hover {
          text-decoration: none; }
      html .headerWrapper .header ul.topMenu, body .headerWrapper .header ul.topMenu {
        position: relative;
        width: 100%;
        height: 64px;
        background: url("../img/shadow.png") center top no-repeat;
        text-align: left;
        padding: 0px;
        overflow: hidden;
        margin: 0px;
        margin-top: 20px; }
        html .headerWrapper .header ul.topMenu li, body .headerWrapper .header ul.topMenu li {
          position: relative;
          float: left;
          overflow: hidden;
          padding-top: 24px; }
          html .headerWrapper .header ul.topMenu li a, body .headerWrapper .header ul.topMenu li a {
            font-family: 'Arial';
            font-weight: 700;
            text-decoration: underline;
            color: #fff;
            font-style: normal;
            font-size: 13px;
            margin: 0 36px 0 0; }
          html .headerWrapper .header ul.topMenu li a:hover, body .headerWrapper .header ul.topMenu li a:hover {
            text-decoration: none; }
  html .pageWrapper, body .pageWrapper {
    position: relative;
    width: 100%;
    min-width: 950px; }
    html .pageWrapper .page, body .pageWrapper .page {
      position: relative;
      width: 950px;
      margin: 0 auto;
      padding-top: 40px;
      overflow: hidden; }
      html .pageWrapper .page .slider, body .pageWrapper .page .slider {
        position: relative;
        width: 100%;
        background: #005151;
        height: 318px; }
        html .pageWrapper .page .slider img, body .pageWrapper .page .slider img {
          position: absolute;
          right: 0px;
          top: 0px;
          border-left: 4px solid #99cc66;
          height: 318px; }
        html .pageWrapper .page .slider .h1, body .pageWrapper .page .slider .h1 {
          display: block;
          position: relative;
          width: 400px;
          padding: 46px 0 0 40px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 36px;
          color: #FFCC00; }
        html .pageWrapper .page .slider .h2, body .pageWrapper .page .slider .h2 {
          display: block;
          position: relative;
          width: 400px;
          padding: 30px 0 0 40px;
          font-family: 'Arial';
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #FFFFFF; }
        html .pageWrapper .page .slider .h3, body .pageWrapper .page .slider .h3 {
          display: block;
          position: relative;
          width: 400px;
          padding: 35px 0 0 40px;
          font-family: 'Arial';
          font-weight: 400;
          font-style: normal;
          color: #333333;
          text-align: left;
          line-height: normal;
          font-size: 18px;
          color: #FFFFFF;
          line-height: 25px; }
      html .pageWrapper .page .fixedMenuWrapper, body .pageWrapper .page .fixedMenuWrapper {
        position: relative;
        width: 100%;
        text-align: left; }
        html .pageWrapper .page .fixedMenuWrapper .fixedMenu, body .pageWrapper .page .fixedMenuWrapper .fixedMenu {
          height: 65px;
          position: relative;
          width: 100%;
          overflow: hidden;
          background: #fff;
          text-align: left; }
          html .pageWrapper .page .fixedMenuWrapper .fixedMenu ul, body .pageWrapper .page .fixedMenuWrapper .fixedMenu ul {
            margin: 0 auto;
            text-align: center;
            padding: 0px; }
            html .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li, body .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li {
              display: inline-block;
              margin: 22px 14px 14px 14px; }
              html .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li a, body .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li a {
                font-family: 'Arial';
                font-weight: 700;
                font-size: 14px;
                border-bottom: 1px #003366 dashed;
                text-decoration: none;
                color: #003366; }
              html .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li a:hover, body .pageWrapper .page .fixedMenuWrapper .fixedMenu ul li a:hover {
                text-decoration: none;
                border-bottom: 1px #fff dashed; }
      html .pageWrapper .page .shadow, body .pageWrapper .page .shadow {
        height: 15px;
        width: 100%;
        background: url("../img/shadow.png"); }
      html .pageWrapper .page #about, body .pageWrapper .page #about {
        position: relative;
        padding-top: 20px;
        width: 100%; }
        html .pageWrapper .page #about .leftCol, body .pageWrapper .page #about .leftCol {
          display: inline-block;
          vertical-align: top;
          width: 315px; }
          html .pageWrapper .page #about .leftCol a.order, body .pageWrapper .page #about .leftCol a.order {
            display: block;
            width: 270px;
            text-align: center;
            padding: 17px 0 17px 0;
            background: #ffcc33;
            border-bottom: 3px solid #ff9900;
            font-family: 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: #000000;
            text-decoration: none; }
          html .pageWrapper .page #about .leftCol a.order:hover, body .pageWrapper .page #about .leftCol a.order:hover {
            background: #ffd864; }
          html .pageWrapper .page #about .leftCol a.order:active, body .pageWrapper .page #about .leftCol a.order:active {
            background: #ffb23e; }
          html .pageWrapper .page #about .leftCol ul.documents, body .pageWrapper .page #about .leftCol ul.documents {
            width: 270px;
            display: block;
            margin: 0px;
            margin-top: 32px;
            padding: 0px;
            padding-top: 36px;
            padding-bottom: 25px;
            background: #ececd9; }
            html .pageWrapper .page #about .leftCol ul.documents li, body .pageWrapper .page #about .leftCol ul.documents li {
              width: 215px;
              list-style-image: url("../img/li.png");
              margin: 0 0 25px 40px;
              padding: 0px; }
              html .pageWrapper .page #about .leftCol ul.documents li .headerLine, body .pageWrapper .page #about .leftCol ul.documents li .headerLine {
                font-family: 'Arial';
                font-weight: 700;
                font-size: 14px;
                line-height: 20px; }
              html .pageWrapper .page #about .leftCol ul.documents li .descriptionText, body .pageWrapper .page #about .leftCol ul.documents li .descriptionText {
                font-family: 'Arial';
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                font-style: normal;
                color: #333333;
                text-align: left; }
                html .pageWrapper .page #about .leftCol ul.documents li .descriptionText a, body .pageWrapper .page #about .leftCol ul.documents li .descriptionText a {
                  font-family: 'Arial';
                  font-weight: 400;
                  font-style: normal;
                  color: #003366;
                  font-size: 12px;
                  line-height: 18px;
                  text-decoration: underline; }
                html .pageWrapper .page #about .leftCol ul.documents li .descriptionText a:hover, body .pageWrapper .page #about .leftCol ul.documents li .descriptionText a:hover {
                  text-decoration: none; }
        html .pageWrapper .page #about .rightCol, body .pageWrapper .page #about .rightCol {
          display: inline-block;
          vertical-align: top;
          width: 600px; }
          html .pageWrapper .page #about .rightCol h1, body .pageWrapper .page #about .rightCol h1 {
            display: block;
            position: relative;
            margin: 0px;
            padding: 0px;
            font-family: 'Trebuchet MS';
            font-weight: 700;
            font-size: 24px;
            color: #000000;
            line-height: 31px; }
          html .pageWrapper .page #about .rightCol p, body .pageWrapper .page #about .rightCol p {
            display: block;
            font-family: 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            color: #333333;
            text-align: justify;
            line-height: 24px;
            padding: 10px 0 0px 0; }
        html .pageWrapper .page #about .shadow, body .pageWrapper .page #about .shadow {
          margin-top: 10px; }
      html .pageWrapper .page #price, body .pageWrapper .page #price {
        position: relative;
        padding-top: 25px;
        width: 100%;
        overflow: hidden; }
        html .pageWrapper .page #price h1, body .pageWrapper .page #price h1 {
          display: block;
          position: relative;
          margin: 0px;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 32px;
          color: #005151;
          line-height: 32px;
          text-align: center; }
        html .pageWrapper .page #price h3, body .pageWrapper .page #price h3 {
          display: block;
          position: relative;
          margin: 0px;
          padding: 25px 0 40px 0;
          text-align: center;
          font-family: 'Arial';
          font-weight: 400;
          font-style: italic;
          font-size: 18px;
          color: #000000;
          line-height: 26px; }
        html .pageWrapper .page #price .columns, body .pageWrapper .page #price .columns {
          width: 100%; }
          html .pageWrapper .page #price .columns .column, body .pageWrapper .page #price .columns .column {
            width: 308px;
            display: inline-block;
            background: red;
            margin-left: 6px;
            vertical-align: top; }
          html .pageWrapper .page #price .columns .column1 .headerPart, body .pageWrapper .page #price .columns .column1 .headerPart {
            background: #16674e; }
          html .pageWrapper .page #price .columns .column1 .contentPart, body .pageWrapper .page #price .columns .column1 .contentPart {
            background: #009966; }
          html .pageWrapper .page #price .columns .column2 .headerPart, body .pageWrapper .page #price .columns .column2 .headerPart {
            background: #2980b9; }
          html .pageWrapper .page #price .columns .column2 .contentPart, body .pageWrapper .page #price .columns .column2 .contentPart {
            background: #3498db; }
          html .pageWrapper .page #price .columns .column3 .headerPart, body .pageWrapper .page #price .columns .column3 .headerPart {
            background: #8e44ad; }
          html .pageWrapper .page #price .columns .column3 .contentPart, body .pageWrapper .page #price .columns .column3 .contentPart {
            background: #9b59b6; }
          html .pageWrapper .page #price .columns .headerPart, body .pageWrapper .page #price .columns .headerPart {
            width: 100%;
            padding: 20px 0 20px 0;
            background: #16674e; }
            html .pageWrapper .page #price .columns .headerPart h1, body .pageWrapper .page #price .columns .headerPart h1 {
              display: block;
              position: relative;
              margin: 0px;
              padding: 0px;
              margin-left: 30px;
              width: 248px;
              color: #fff;
              font-family: 'Arial';
              font-weight: 700;
              font-size: 18px;
              text-align: left; }
          html .pageWrapper .page #price .columns .contentPart, body .pageWrapper .page #price .columns .contentPart {
            width: 100%;
            background: #009966;
            padding-bottom: 3px; }
            html .pageWrapper .page #price .columns .contentPart h2, body .pageWrapper .page #price .columns .contentPart h2 {
              display: block;
              position: relative;
              margin: 0px;
              padding: 0px;
              margin-left: 30px;
              width: 248px;
              text-align: justify;
              color: #fff;
              font-size: 14px;
              color: #FFFFFF;
              line-height: 20px;
              font-family: 'Arial';
              font-weight: 400;
              font-style: normal;
              padding: 12px 0 12px 0; }
            html .pageWrapper .page #price .columns .contentPart .description, body .pageWrapper .page #price .columns .contentPart .description {
              width: 302px;
              background: #fff;
              margin-left: 3px;
              padding-bottom: 25px; }
              html .pageWrapper .page #price .columns .contentPart .description h3, body .pageWrapper .page #price .columns .contentPart .description h3 {
                display: block;
                position: relative;
                margin: 0px;
                padding: 0px;
                margin-left: 30px;
                width: 248px;
                text-align: left;
                color: #fff;
                font-size: 14px;
                color: #16674E;
                line-height: 20px;
                font-family: 'Arial';
                font-weight: 700;
                font-style: normal;
                padding: 25px 0 12px 0; }
              html .pageWrapper .page #price .columns .contentPart .description p, body .pageWrapper .page #price .columns .contentPart .description p {
                display: block;
                position: relative;
                margin: 0px;
                padding: 0px;
                margin-left: 30px;
                width: 248px;
                text-align: left;
                color: #fff;
                font-size: 12px;
                color: #000000;
                line-height: 20px;
                font-family: 'Arial';
                font-weight: 400;
                font-style: normal;
                padding: 0px; }
      html .pageWrapper .page #choose, body .pageWrapper .page #choose {
        position: relative;
        padding-top: 35px;
        width: 100%;
        overflow: hidden; }
        html .pageWrapper .page #choose h1, body .pageWrapper .page #choose h1 {
          display: block;
          position: relative;
          margin: 10px 0 0 0;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 26px;
          color: #16674E;
          line-height: 32px;
          text-align: center; }
        html .pageWrapper .page #choose ul, body .pageWrapper .page #choose ul {
          width: 100%;
          display: block;
          margin: 0px;
          margin-top: 0px;
          padding: 0px;
          padding-top: 36px;
          padding-bottom: 25px; }
          html .pageWrapper .page #choose ul li, body .pageWrapper .page #choose ul li {
            display: inline-block;
            vertical-align: top;
            width: 410px;
            overflow: hidden;
            background-image: url("../img/li1.png");
            background-repeat: no-repeat;
            background-position: 0px 0px;
            margin: 0 0 25px 30px;
            padding: 0px 0 0 30px; }
            html .pageWrapper .page #choose ul li .headerLine, body .pageWrapper .page #choose ul li .headerLine {
              font-family: 'Arial';
              font-weight: 700;
              font-size: 16px;
              line-height: 15px;
              padding-top: 3px; }
            html .pageWrapper .page #choose ul li .descriptionText, body .pageWrapper .page #choose ul li .descriptionText {
              display: block;
              text-align: justify;
              font-family: 'Arial';
              font-size: 14px;
              line-height: 24px;
              font-weight: 400;
              font-style: normal;
              color: #333333;
              text-align: left;
              padding-top: 10px; }
              html .pageWrapper .page #choose ul li .descriptionText a, body .pageWrapper .page #choose ul li .descriptionText a {
                font-family: 'Arial';
                font-weight: 400;
                font-style: normal;
                color: #003366;
                font-size: 12px;
                line-height: 18px;
                text-decoration: underline; }
              html .pageWrapper .page #choose ul li .descriptionText a:hover, body .pageWrapper .page #choose ul li .descriptionText a:hover {
                text-decoration: none; }
      html .pageWrapper .page #quest, body .pageWrapper .page #quest {
        position: relative;
        padding-top: 15px;
        width: 100%;
        overflow: hidden; }
        html .pageWrapper .page #quest h1, body .pageWrapper .page #quest h1 {
          display: block;
          position: relative;
          margin: 10px 0 35px 0;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 32px;
          color: #005151;
          line-height: 32px;
          text-align: center; }
        html .pageWrapper .page #quest .leftCol, body .pageWrapper .page #quest .leftCol {
          display: inline-block;
          vertical-align: top;
          width: 278px;
          margin-left: 42px;
          background: #16674e; }
          html .pageWrapper .page #quest .leftCol h5, body .pageWrapper .page #quest .leftCol h5 {
            font-family: 'Georgia';
            font-weight: 700;
            font-style: italic;
            font-size: 20px;
            color: #FFFFFF;
            line-height: 30px;
            margin-left: 27px; }
        html .pageWrapper .page #quest .rightCol, body .pageWrapper .page #quest .rightCol {
          display: inline-block;
          vertical-align: top;
          width: 600px; }
          html .pageWrapper .page #quest .rightCol ul, body .pageWrapper .page #quest .rightCol ul {
            width: 550px;
            display: block;
            margin: 0px;
            margin-top: 0px;
            padding: 0px;
            padding-top: 10px;
            padding-bottom: 25px; }
            html .pageWrapper .page #quest .rightCol ul li, body .pageWrapper .page #quest .rightCol ul li {
              display: inline-block;
              vertical-align: top;
              width: 540px;
              overflow: hidden;
              background-image: url("../img/li1.png");
              background-repeat: no-repeat;
              background-position: 0px 0px;
              margin: 0 0 25px 30px;
              padding: 0px 0 0 40px; }
              html .pageWrapper .page #quest .rightCol ul li .headerLine, body .pageWrapper .page #quest .rightCol ul li .headerLine {
                font-family: 'Arial';
                font-weight: 700;
                font-size: 14px;
                color: #000;
                line-height: 22px;
                padding-top: 3px; }
              html .pageWrapper .page #quest .rightCol ul li .descriptionText, body .pageWrapper .page #quest .rightCol ul li .descriptionText {
                display: block;
                text-align: justify;
                font-family: 'Arial';
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                font-style: normal;
                color: #006600;
                text-align: left;
                padding-top: 5px; }
                html .pageWrapper .page #quest .rightCol ul li .descriptionText a, body .pageWrapper .page #quest .rightCol ul li .descriptionText a {
                  font-family: 'Arial';
                  font-weight: 400;
                  font-style: normal;
                  color: #003366;
                  font-size: 12px;
                  line-height: 18px;
                  text-decoration: underline; }
                html .pageWrapper .page #quest .rightCol ul li .descriptionText a:hover, body .pageWrapper .page #quest .rightCol ul li .descriptionText a:hover {
                  text-decoration: none; }
        html .pageWrapper .page #quest .shadow, body .pageWrapper .page #quest .shadow {
          margin-top: 0px; }
      html .pageWrapper .page #documents, body .pageWrapper .page #documents {
        position: relative;
        padding-top: 15px;
        width: 100%; }
        html .pageWrapper .page #documents h1, body .pageWrapper .page #documents h1 {
          display: block;
          position: relative;
          margin: 20px 0 45px 0;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 32px;
          color: #005151;
          line-height: 32px;
          text-align: center; }
        html .pageWrapper .page #documents .board, body .pageWrapper .page #documents .board {
          position: relative;
          display: block;
          background: url("../img/board.jpg");
          width: 950px;
          height: 415px;
          overflow: hidden; }
          html .pageWrapper .page #documents .board .boardInner, body .pageWrapper .page #documents .board .boardInner {
            position: relative;
            margin: 0 auto;
            width: 750px;
            height: 350px;
            background: url("../img/boardInner.png") no-repeat;
            top: 32px;
            padding-top: 28px;
            text-align: center; }
            html .pageWrapper .page #documents .board .boardInner h2, body .pageWrapper .page #documents .board .boardInner h2 {
              display: inline;
              position: relative;
              text-align: center;
              background: #fff;
              padding: 0 16px 0 16px;
              font-family: 'Arial';
              font-weight: 700;
              font-size: 20px;
              color: #000000; }
            html .pageWrapper .page #documents .board .boardInner .cols, body .pageWrapper .page #documents .board .boardInner .cols {
              display: block;
              position: relative;
              width: 100%;
              margin-top: 30px; }
              html .pageWrapper .page #documents .board .boardInner .cols .leftCol, body .pageWrapper .page #documents .board .boardInner .cols .leftCol {
                display: inline-block;
                vertical-align: top;
                width: 295px;
                text-align: left;
                margin-left: 30px; }
                html .pageWrapper .page #documents .board .boardInner .cols .leftCol .important, body .pageWrapper .page #documents .board .boardInner .cols .leftCol .important {
                  width: 240px;
                  border: 3px solid #86c440;
                  padding: 14px;
                  font-size: 14px;
                  font-family: 'Arial';
                  text-decoration: underline;
                  color: #003366;
                  line-height: 20px; }
              html .pageWrapper .page #documents .board .boardInner .cols .rightCol, body .pageWrapper .page #documents .board .boardInner .cols .rightCol {
                display: inline-block;
                vertical-align: top;
                width: 295px;
                text-align: left;
                margin-left: 30px; }
              html .pageWrapper .page #documents .board .boardInner .cols .title, body .pageWrapper .page #documents .board .boardInner .cols .title {
                display: block;
                width: 100%;
                font-family: 'Arial';
                font-weight: 700;
                font-size: 16px;
                color: #005151; }
              html .pageWrapper .page #documents .board .boardInner .cols ul, body .pageWrapper .page #documents .board .boardInner .cols ul {
                width: 100%;
                display: block;
                margin: 0px;
                margin-top: 0px;
                padding: 0px;
                padding-top: 25px;
                padding-bottom: 5px; }
                html .pageWrapper .page #documents .board .boardInner .cols ul li, body .pageWrapper .page #documents .board .boardInner .cols ul li {
                  width: 100%;
                  list-style-image: url("../img/li2.png");
                  margin: 0 0 10px 20px;
                  padding: 0px;
                  font-family: 'Arial';
                  font-weight: 400;
                  font-style: normal;
                  font-size: 14px; }
        html .pageWrapper .page #documents .whiteBoard, body .pageWrapper .page #documents .whiteBoard {
          position: relative;
          display: block;
          background: #fff;
          width: 950px;
          padding-top: 25px;
          padding-bottom: 20px;
          margin-top: 3px; }
          html .pageWrapper .page #documents .whiteBoard h6, body .pageWrapper .page #documents .whiteBoard h6 {
            display: inline;
            padding: 8px;
            position: relative;
            margin: 0px;
            font-family: 'Arial';
            font-weight: 700;
            font-size: 16px;
            color: #fff; }
          html .pageWrapper .page #documents .whiteBoard .text, body .pageWrapper .page #documents .whiteBoard .text {
            margin: 16px 0 0 17px;
            font-size: 14px;
            color: #000000;
            line-height: 20px;
            font-family: 'Arial';
            font-weight: 400;
            font-style: normal; }
          html .pageWrapper .page #documents .whiteBoard .col1, body .pageWrapper .page #documents .whiteBoard .col1 {
            display: inline-block;
            vertical-align: top;
            width: 130px;
            margin-left: 30px;
            font-family: 'Trebuchet MS';
            font-weight: 700;
            font-size: 18px;
            color: #000000;
            line-height: 24px; }
          html .pageWrapper .page #documents .whiteBoard .col2, body .pageWrapper .page #documents .whiteBoard .col2 {
            display: inline-block;
            vertical-align: top;
            margin-left: 20px; }
            html .pageWrapper .page #documents .whiteBoard .col2 h6, body .pageWrapper .page #documents .whiteBoard .col2 h6 {
              background: #16674e; }
          html .pageWrapper .page #documents .whiteBoard .col3, body .pageWrapper .page #documents .whiteBoard .col3 {
            display: inline-block;
            vertical-align: top;
            margin-left: 15px; }
            html .pageWrapper .page #documents .whiteBoard .col3 h6, body .pageWrapper .page #documents .whiteBoard .col3 h6 {
              background: #2980b9; }
          html .pageWrapper .page #documents .whiteBoard .col4, body .pageWrapper .page #documents .whiteBoard .col4 {
            display: inline-block;
            vertical-align: top;
            margin-left: 15px; }
            html .pageWrapper .page #documents .whiteBoard .col4 h6, body .pageWrapper .page #documents .whiteBoard .col4 h6 {
              background: #8e44ad; }
          html .pageWrapper .page #documents .whiteBoard .delimeter, body .pageWrapper .page #documents .whiteBoard .delimeter {
            display: inline-block;
            vertical-align: top;
            width: 1px;
            overflow: hidden;
            background: #cccccc;
            margin-left: 40px;
            height: 145px;
            position: relative;
            top: -7px; }
      html .pageWrapper .page #contacts, body .pageWrapper .page #contacts {
        position: relative;
        padding-top: 15px;
        width: 100%; }
        html .pageWrapper .page #contacts h1, body .pageWrapper .page #contacts h1 {
          display: block;
          position: relative;
          margin: 20px 0 20px 0;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-size: 32px;
          color: #005151;
          text-align: center; }
        html .pageWrapper .page #contacts h2, body .pageWrapper .page #contacts h2 {
          display: block;
          position: relative;
          margin: 0px 0 45px 0;
          padding: 0px;
          font-family: 'Trebuchet MS';
          font-weight: 700;
          font-style: italic;
          font-size: 22px;
          line-height: 24px;
          color: #333333;
          text-align: center; }
        html .pageWrapper .page #contacts .cols, body .pageWrapper .page #contacts .cols {
          display: block;
          width: 100%;
          position: relative;
          text-align: center; }
          html .pageWrapper .page #contacts .cols .col1, body .pageWrapper .page #contacts .cols .col1 {
            display: inline-block;
            vertical-align: top;
            width: 250px;
            text-align: left; }
            html .pageWrapper .page #contacts .cols .col1 p, body .pageWrapper .page #contacts .cols .col1 p {
              padding-top: 10px; }
              html .pageWrapper .page #contacts .cols .col1 p a, body .pageWrapper .page #contacts .cols .col1 p a {
                font-family: 'Arial';
                font-weight: 700;
                font-size: 14px;
                text-decoration: underline;
                color: #003366; }
          html .pageWrapper .page #contacts .cols .col2, body .pageWrapper .page #contacts .cols .col2 {
            display: inline-block;
            vertical-align: top;
            width: 350px;
            text-align: left;
            margin-left: 75px; }
            html .pageWrapper .page #contacts .cols .col2 p, body .pageWrapper .page #contacts .cols .col2 p {
              margin: 0px; }
            html .pageWrapper .page #contacts .cols .col2 a.order, body .pageWrapper .page #contacts .cols .col2 a.order {
              display: block;
              width: 270px;
              text-align: center;
              padding: 17px 0 17px 0;
              margin-top: 20px;
              background: #ffcc33;
              border-bottom: 3px solid #ff9900;
              font-family: 'Arial';
              font-weight: 400;
              font-style: normal;
              font-size: 18px;
              color: #000000;
              text-decoration: none; }
            html .pageWrapper .page #contacts .cols .col2 a.order:hover, body .pageWrapper .page #contacts .cols .col2 a.order:hover {
              background: #ffd864; }
            html .pageWrapper .page #contacts .cols .col2 a.order:active, body .pageWrapper .page #contacts .cols .col2 a.order:active {
              background: #ffb23e; }
          html .pageWrapper .page #contacts .cols h3, body .pageWrapper .page #contacts .cols h3 {
            display: block;
            position: relative;
            margin: 0px 0 15px 0;
            padding: 0px;
            font-family: 'Arial';
            font-weight: 400;
            font-style: normal;
            font-size: 28px;
            line-height: 28px;
            color: #000000;
            text-align: left; }
          html .pageWrapper .page #contacts .cols p, body .pageWrapper .page #contacts .cols p {
            display: block;
            font-size: 16px;
            color: #000000;
            font-family: 'Arial';
            font-weight: 400;
            font-style: normal;
            color: #333333;
            line-height: 24px; }
    html .pageWrapper #footer, body .pageWrapper #footer {
      position: relative;
      width: 100%;
      background: #005151;
      margin-top: 40px;
      text-align: center;
      padding: 48px 0 48px 0; }
      html .pageWrapper #footer ul, body .pageWrapper #footer ul {
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding: 0px; }
        html .pageWrapper #footer ul li, body .pageWrapper #footer ul li {
          display: inline-block;
          margin: 15px; }
          html .pageWrapper #footer ul li a, body .pageWrapper #footer ul li a {
            font-family: 'Arial';
            font-size: 13px;
            font-weight: 700;
            text-decoration: underline;
            color: #FFFFFF; }
          html .pageWrapper #footer ul li a:hover, body .pageWrapper #footer ul li a:hover {
            text-decoration: none; }
  html .f-nav, body .f-nav {
    z-index: 9999;
    position: fixed !important;
    top: 0;
    width: 950px !important; }