 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 */

$width: 950px;
 
html, body { margin: 0px; padding: 0px; background: #f5f6f1;
	.headerWrapper{ position: relative; width: 100%; min-width: $width; background: #005151; overflow: hidden;
		.header{ position: relative; width: $width; margin: 0 auto; padding-top: 20px;
			a.logo{ position: relative; display: inline-block; text-decoration: none; vertical-align: top;
				img{ position: relative; display: inline-block;  border: 0px; vertical-align: top; } 
				span{ position: relative; display: inline-block;  vertical-align: top; padding: 17px 0 0 21px; font-family: 'Tahoma'; font-weight:700; font-size:14px; color:#FFCC33; line-height:18px; }
			}
			.addressWrapper{ position: absolute; display: block; top: 0px; left: 445px; top: 37px; text-align:left; 
				.address{ position: relative; display: block; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:13px; color:#fff; line-height:normal; }
				a{ font-family: 'Arial'; font-weight:700; font-size:12px; text-decoration:underline; color: #FFCC33; }
				a:hover{ text-decoration:none; }
			}
			.phoneWrapper{ float: right; display: block; padding-top: 13px; text-align: right;
				.phone{ position: relative; display: block; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:30px; color:#fff; }
				a{ font-family: 'Arial'; font-weight:700; font-size:12px; text-decoration:underline; color: #FFCC33; }
				a:hover{ text-decoration:none; }				
			}
			ul.topMenu{ position: relative; width: 100%; height: 64px; background: url("shadow.png") center top no-repeat; text-align: left; padding: 0px; overflow: hidden; margin: 0px; margin-top: 20px;
				li{ position: relative; float: left; overflow: hidden; padding-top: 24px;
					a{ font-family: 'Arial'; font-weight: 700; text-decoration: underline; color:#fff; font-style: normal; font-size: 13px; margin: 0 36px 0 0;  }
					a:hover{ text-decoration:none; }
				}
			}
		}
	}
	.pageWrapper{ position: relative; width: 100%; min-width: $width;
		.page{ position: relative; width: $width; margin: 0 auto; padding-top: 40px; overflow: hidden;
			.slider{ position: relative; width: 100%; background: #005151; height: 318px;
				img{ position: absolute; right: 0px; top:0px;border-left: 4px solid #99cc66; height: 318px; }
				.h1{ display: block; position: relative; width: 400px; padding: 46px 0 0 40px; font-family: 'Trebuchet MS'; font-weight:700; font-size:36px; color:#FFCC00; }
				.h2{ display: block; position: relative; width: 400px; padding: 30px 0 0 40px; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:14px; color:#FFFFFF; }
				.h3{ display: block; position: relative; width: 400px; padding: 35px 0 0 40px; font-family: 'Arial'; font-weight:400; font-style:normal; color:#333333; text-align:left; line-height:normal; font-size:18px; color:#FFFFFF; line-height:25px; }
			}
			.fixedMenuWrapper{ position: relative; width: 100%;text-align: left;
				.fixedMenu{ height: 65px; position: relative; width: 100%; overflow: hidden; background: #fff; text-align: left;
					ul{ margin: 0 auto; text-align: center; padding: 0px;
						li{ display: inline-block; margin: 22px 14px 14px 14px;
							a{ font-family: 'Arial'; font-weight:700; font-size:14px; border-bottom: 1px #003366 dashed; text-decoration: none; color:#003366; }
							a:hover{text-decoration: none; border-bottom: 1px #fff dashed; }
						}
					}
				}
			}
			.shadow{ height: 15px; width: 100%; background: url("shadow.png"); }
			#about{ position: relative; padding-top: 20px; width: 100%;
				.leftCol{ display: inline-block; vertical-align: top; width: 315px;
					a.order{ display: block; width: 270px; text-align: center; padding: 17px 0 17px 0; background: #ffcc33; border-bottom: 3px solid #ff9900; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:18px; color:#000000; text-decoration: none; }
					a.order:hover{ background: #ffd864; }
					a.order:active{ background: #ffb23e; }
					ul.documents{ width: 270px; display: block; margin: 0px; margin-top: 32px; padding: 0px; padding-top: 36px; padding-bottom: 25px; background: #ececd9;
						li{ width: 215px; list-style-image: url('li.png'); margin: 0 0 25px 40px; padding: 0px;
							.headerLine{ font-family: 'Arial'; font-weight:700; font-size:14px; line-height:20px; }
							.descriptionText{ font-family: 'Arial'; font-size:12px; line-height:18px; font-weight:400; font-style:normal; color:#333333; text-align:left;
								a{ font-family: 'Arial'; font-weight:400; font-style:normal; color: #003366; font-size:12px; line-height:18px; text-decoration: underline; }
								a:hover{ text-decoration: none; }
							}
						}
					}
				}
				.rightCol{ display: inline-block; vertical-align: top; width: 600px; 
					h1{ display: block; position:relative; margin: 0px; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:24px; color:#000000; line-height:31px; } 
					p{ display: block; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:16px; color:#333333; text-align:justify; line-height:24px; padding: 10px 0 0px 0; }
				}
				.shadow{ margin-top: 10px; }
			}
			#price{ position: relative; padding-top: 25px; width: 100%; overflow: hidden;
				h1{ display: block; position:relative; margin: 0px; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:32px; color:#005151; line-height:32px; text-align: center; }
				h3{ display: block; position:relative; margin: 0px; padding: 25px 0 40px 0; text-align: center; font-family: 'Arial'; font-weight:400; font-style:italic; font-size:18px; color:#000000; line-height:26px; }
				.columns{ width: 100%;
					.column{ width: 308px; display: inline-block; background: red; margin-left: 6px; vertical-align: top; }
					
					.column1{
						.headerPart{ background: #16674e; }
						.contentPart{ background: #009966; }
					}
					.column2{
						.headerPart{ background: #2980b9; }
						.contentPart{ background: #3498db; }
					}
					.column3{
						.headerPart{ background: #8e44ad; }
						.contentPart{ background: #9b59b6; }
					}
					
					.headerPart{ width: 100%; padding: 20px 0 20px 0; background: #16674e;
						h1{ display: block; position: relative; margin: 0px; padding: 0px; margin-left: 30px; width: 248px; color: #fff;   font-family: 'Arial'; font-weight:700; font-size:18px; text-align: left; }
					}
					.contentPart{ width: 100%; background: #009966; padding-bottom: 3px;
						h2{ display: block; position: relative; margin: 0px; padding: 0px; margin-left: 30px; width: 248px; text-align: justify; color: #fff; font-size:14px; color:#FFFFFF; line-height:20px; font-family: 'Arial'; font-weight: 400; font-style:normal; padding: 12px 0 12px 0; }
						.description{ width: 302px; background: #fff; margin-left: 3px; padding-bottom: 25px;
							h3{ display: block; position: relative; margin: 0px; padding: 0px; margin-left: 30px; width: 248px; text-align: left; color: #fff; font-size:14px; color:#16674E; line-height:20px; font-family: 'Arial'; font-weight: 700; font-style:normal; padding: 25px 0 12px 0; }
							p{ display: block; position: relative; margin: 0px; padding: 0px; margin-left: 30px; width: 248px; text-align: left; color: #fff; font-size:12px; color:#000000; line-height:20px; font-family: 'Arial'; font-weight: 400; font-style:normal; padding: 0px; }
						}
					}
				}
			}
			#choose{ position: relative; padding-top: 35px; width: 100%; overflow: hidden;
				h1{ display: block; position:relative; margin: 10px 0 0 0; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:26px; color:#16674E; line-height:32px; text-align: center; }
				ul{ width: 100%; display: block; margin: 0px; margin-top: 0px; padding: 0px; padding-top: 36px; padding-bottom: 25px;
					li{ display: inline-block; vertical-align: top; width: 410px; overflow: hidden; background-image: url('li1.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: 0 0 25px 30px; padding: 0px 0 0 30px;
						.headerLine{ font-family: 'Arial'; font-weight:700; font-size:16px; line-height:15px; padding-top: 3px; }
						.descriptionText{ display: block; text-align: justify; font-family: 'Arial'; font-size:14px; line-height:24px; font-weight:400; font-style:normal; color:#333333; text-align:left; padding-top: 10px;
							a{ font-family: 'Arial'; font-weight:400; font-style:normal; color: #003366; font-size:12px; line-height:18px; text-decoration: underline; }
							a:hover{ text-decoration: none; }
						}
					}
				}				
			}
			#quest{ position: relative; padding-top: 15px; width: 100%; overflow: hidden;
				h1{ display: block; position:relative; margin: 10px 0 35px 0; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:32px; color:#005151; line-height:32px; text-align: center; }
				.leftCol{ display: inline-block; vertical-align: top; width: 278px; margin-left: 42px; background: #16674e;
					h5{ font-family: 'Georgia'; font-weight:700; font-style:italic; font-size:20px; color:#FFFFFF; line-height:30px; margin-left: 27px; }
				}
				.rightCol{ display: inline-block; vertical-align: top; width: 600px; 
					ul{ width: 550px; display: block; margin: 0px; margin-top: 0px; padding: 0px;  padding-top: 10px; padding-bottom: 25px;
						li{ display: inline-block; vertical-align: top; width: 540px; overflow: hidden; background-image: url('li1.png'); background-repeat: no-repeat; background-position: 0px 0px; margin: 0 0 25px 30px; padding: 0px 0 0 40px;
							.headerLine{ font-family: 'Arial'; font-weight:700; font-size:14px; color: #000; line-height:22px; padding-top: 3px; }
							.descriptionText{ display: block; text-align: justify; font-family: 'Arial'; font-size:14px; line-height:24px; font-weight:700; font-style:normal; color:#006600; text-align:left; padding-top: 5px;
								a{ font-family: 'Arial'; font-weight:400; font-style:normal; color: #003366; font-size:12px; line-height:18px; text-decoration: underline; }
								a:hover{ text-decoration: none; }
							}
						}
					}
				}
				.shadow{ margin-top: 0px; }			
			}
			#documents{ position: relative; padding-top: 15px; width: 100%;
				h1{ display: block; position:relative; margin: 20px 0 45px 0; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:32px; color:#005151; line-height:32px; text-align: center; }
				.board{ position: relative; display: block; background: url("board.jpg"); width: 950px; height: 415px; overflow: hidden;
					.boardInner{ position: relative; margin: 0 auto; width: 750px; height: 350px; background: url("boardInner.png") no-repeat; top: 32px; padding-top: 28px; text-align: center;
						h2{ display: inline; position: relative; text-align: center; background: #fff; padding: 0 16px 0 16px; font-family: 'Arial'; font-weight:700; font-size:20px; color:#000000; }
						.cols{ display: block; position: relative; width: 100%; margin-top: 30px;
							.leftCol{ display: inline-block; vertical-align: top; width: 295px; text-align: left; margin-left: 30px;
								.important{ width: 240px; border: 3px solid #86c440; padding: 14px; font-size:14px; font-family: 'Arial'; text-decoration:underline; color:#003366; line-height:20px;	
								}
							}
							.rightCol{ display: inline-block; vertical-align: top; width: 295px; text-align: left; margin-left: 30px;
							
							}
							.title{ display: block; width: 100%; font-family: 'Arial'; font-weight:700; font-size:16px; color:#005151; }
							ul{ width: 100%; display: block; margin: 0px; margin-top: 0px; padding: 0px; padding-top: 25px; padding-bottom: 5px;
								li{ width: 100%; list-style-image: url('li2.png'); margin: 0 0 10px 20px; padding: 0px; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:14px; }
							}
							
						}
					}
				}
				.whiteBoard{ position: relative; display: block; background: #fff; width: 950px; padding-top: 25px; padding-bottom: 20px; margin-top: 3px;
					h6{ display: inline; padding: 8px; position: relative; margin: 0px; font-family: 'Arial'; font-weight:700; font-size:16px; color: #fff; }
					.text{ margin: 16px 0 0 17px;   font-size:14px; color:#000000; line-height:20px; font-family: 'Arial'; font-weight:400; font-style:normal; }
					.col1{ display: inline-block; vertical-align: top; width: 130px; margin-left: 30px; font-family: 'Trebuchet MS'; font-weight:700; font-size:18px; color:#000000; line-height:24px; }
					.col2{ display: inline-block; vertical-align: top; margin-left: 20px;
						h6{ background: #16674e; }
					}
					.col3{ display: inline-block; vertical-align: top; margin-left: 15px;
						h6{ background: #2980b9; }
					}
					.col4{ display: inline-block; vertical-align: top; margin-left: 15px;
						h6{ background: #8e44ad; }
					}
					.delimeter{ display: inline-block; vertical-align: top; width: 1px; overflow: hidden; background: #cccccc; margin-left: 40px; height: 145px; position: relative; top: -7px; }
					
					
				}
			}
			#contacts{ position: relative; padding-top: 15px; width: 100%;
				h1{ display: block; position:relative; margin: 20px 0 20px 0; padding: 0px; font-family: 'Trebuchet MS'; font-weight:700; font-size:32px; color:#005151; text-align: center; }
				h2{ display: block; position:relative; margin: 0px 0 45px 0; padding: 0px;   font-family: 'Trebuchet MS'; font-weight:700; font-style:italic; font-size:22px; line-height:24px;color:#333333; text-align: center; }
				.cols{ display: block; width: 100%; position: relative; text-align: center;
					.col1{ display: inline-block; vertical-align: top; width: 250px; text-align: left;
						p{ padding-top: 10px;
							a{ font-family: 'Arial';font-weight:700;font-size:14px;text-decoration:underline;color:#003366; }
						}
					}
					.col2{ display: inline-block; vertical-align: top; width: 350px; text-align: left; margin-left: 75px;
						p{ margin: 0px; }
						a.order{ display: block; width: 270px; text-align: center; padding: 17px 0 17px 0; margin-top: 20px; background: #ffcc33; border-bottom: 3px solid #ff9900; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:18px; color:#000000; text-decoration: none; }
						a.order:hover{ background: #ffd864; }
						a.order:active{ background: #ffb23e; }
					}
					h3{ display: block; position:relative; margin: 0px 0 15px 0; padding: 0px; font-family: 'Arial'; font-weight:400; font-style:normal; font-size:28px; line-height:28px;color:#000000; text-align: left; }
					p{ display: block; font-size: 16px; color:#000000;font-family: 'Arial'; font-weight:400; font-style:normal; color:#333333; line-height: 24px; }
				}
				
			}
		}
		#footer{ position: relative; width: 100%; background: #005151; margin-top: 40px; text-align: center; padding: 48px 0 48px 0;
			ul{ position: relative; text-align: center; margin: 0 auto; padding: 0px;
				li{ display: inline-block; margin: 15px;
					a{ font-family: 'Arial'; font-size: 13px; font-weight:700; text-decoration:underline; color:#FFFFFF; }
					a:hover{ text-decoration: none; }
				}
			}
		}
	}
	.f-nav{ z-index: 9999; position: fixed!important; top: 0; width: $width!important; }
}
	