!!!
%html
	%head
		%title Институт подготовки специалистов без отрыва от производства МГУЛ
		=raw'<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>'
		=raw'<link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>'
		=stylesheet_link_tag "application", media: "all"
		=javascript_include_tag "application"
		=csrf_meta_tags
	%body
		.headerWrapper
			.header
				%a.logo{:href => '/'}
					%img{:src => '/assets/logo.png'}
					%span=raw"Институт подготовки<br/>специалистов без отрыва<br/>от производства МГУЛ"
				.addressWrapper
					.address=raw"Московская обл., г. Мытищи-5,<br/>ул. 1-я Институтская, д. 1, МГУЛ"
					%a{:href => "#"}Схема проезда
				.phoneWrapper
					.phone=raw"+7(495)583-13-07"
					%a{:href => "#"}Заказать звонок консультанта
				%ul.topMenu
					%li
						%a{:href => "#"} Об ИПСОП МГУЛ
					%li
						%a{:href => "#"} Направления подготовки
					%li
						%a{:href => "#"} Формы и сроки обучения
					%li
						%a{:href => "#"} Стоимость обучения
					%li
						%a{:href => "#"} Поступление
					%li
						%a{:href => "#"} Контакты
		.pageWrapper
			.page
				.slider
					.h1=raw'Бухгалтерский учет,<br/>анализ и аудит'
					.h2=raw'Профиль направления "Экономика" — 12568416'
					.h3=raw'Вы получаете высшее образование в Московском государственном универсетете леса без отрыва от работы'
					%img{:src => "/assets/img1.png"}
				.fixedMenuWrapper
					.fixedMenu
						%ul
							%li
								%a{:href => "#about"}О направлении
							%li
								%a{:href => "#price"}Формы и сроки обучения
							%li
								%a{:href => "#quest"}Вступительные испытания
							%li
								%a{:href => "#documents"}Документы для поступления
							%li
								%a{:href => "#contacts"}Контакты
					.shadow=raw"&nbsp;"
				#about
					.leftCol
						%a.order{:href => "#"} Заявка на обучение
						%ul.documents
							%li
								.headerLine Аккредитация и лицензия МГУЛ
								.descriptionText=raw'Эффективный государственный ВУЗ: <a href="#">аккредитаця</a> и <a href="#">лицензия</a>, <a href="#">сертификат качества ИСО 9001:2008</a>'
							%li
								.headerLine Государственный диплом
								.descriptionText Студенты, окончившие МГУЛ получают диплом государственного образца
					.rightCol
						%h1=raw'Высшее образование по профилю "Бухгалтерский учет, анализ и аудит"'
						%p=raw'Знания, полученные при изучении бухгалтерских дисциплин дают возможность занимать выпускникам, как экономические, так и бухгалтерские должности на производстве и в региональных и федеральных органах управления. Выпускники этого профиля плодотворно работают, как на предприятиях химико-лесного комплекса, так и в различных коммерческих структурах.'
						%p=raw'Подготовка бакалавров включает: общие гуманитарные, социально-экономические, математические, и естественнонаучные дисциплины. Цикл общепрофессиональных дисциплин включает: экономическую теорию, финансы, денежное обращение и кредит, ценообразование, статистику, маркетинг, анализ финансового состояния, аудит предприятия, страхование, рынок ценных бумаг, бухгалтерский учёт, экономику предприятия.'
					.shadow=raw"&nbsp;"
				#price
					%h1 Формы, сроки и стоимость обучения
					%h3=raw"Полное заочное обучение — закончили школу с аттестатом,<br/>сокращенное заочное — зкончили техникум / колледж с дипломом или первое высшее образование"
					.columns
						.column.column1
							.headerPart
								%h1=raw'Заочное "классическое"'
							.contentPart
								%h2=raw'1-3 выездные сессии на территории кампуса МГУЛ в г. Мытищи. На время сессии предоставляется общежитие.'
								.description
									%h3 Полное заочное:
									%p=raw'Срок обучения: <b><i>5 лет</i></b><br/>Сессия: <b><i>1 раз в год 30-40 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32500 руб. в год</b></i>'
									%h3 Сокращенное заочное:
									%p=raw'Срок обучения: <b><i>3,5 года</i></b><br/>Сессия: <b><i>3 раза в год по 7-10 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32400 руб. в год</b></i>'
						.column.column2
							.headerPart
								%h1=raw'Заочное "классическое"'
							.contentPart
								%h2=raw'1-3 выездные сессии на территории кампуса МГУЛ в г. Мытищи. На время сессии предоставляется общежитие.'
								.description
									%h3 Полное заочное:
									%p=raw'Срок обучения: <b><i>5 лет</i></b><br/>Сессия: <b><i>1 раз в год 30-40 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32500 руб. в год</b></i>'
									%h3 Сокращенное заочное:
									%p=raw'Срок обучения: <b><i>3,5 года</i></b><br/>Сессия: <b><i>3 раза в год по 7-10 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32400 руб. в год</b></i>'						
						.column.column3
							.headerPart
								%h1=raw'Заочное "классическое"'
							.contentPart
								%h2=raw'1-3 выездные сессии на территории кампуса МГУЛ в г. Мытищи. На время сессии предоставляется общежитие.'
								.description
									%h3 Полное заочное:
									%p=raw'Срок обучения: <b><i>5 лет</i></b><br/>Сессия: <b><i>1 раз в год 30-40 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32500 руб. в год</b></i>'
									%h3 Сокращенное заочное:
									%p=raw'Срок обучения: <b><i>3,5 года</i></b><br/>Сессия: <b><i>3 раза в год по 7-10 дней.</b></i><br/>Бюджетные места: <b><i>есть</b></i><br/><b><i>Контрактная основа: 32400 руб. в год</b></i>'
				#choose
					%h1 Второе высшее и параллельное образование
					%ul
						%li
							.headerLine Второе высшее образование
							.descriptionText=raw'Те, кто уже имеет первое высшее образование, могут приступить к получению второго высшего образования по выбранной профессии со сроком обучения — 2 года. Получить второе высшее образование можно всем формам обучения: заочной "классической", "группе выходного дня" и дистанционной форме.'
						%li
							.headerLine Параллельное второе высшее образование
							.descriptionText=raw'Студенты 2 и 3 курсов могут приступить к получению второго высшего образования  параллельно с основным, при этом ранее пройденные дисциплины перезачитываются, что позволяет сократить срок обучения и затратить меньше средств на получение второго образования.'
					.shadow=raw"&nbsp;"
				#quest
					%h1 Вступительные испытания при поступлении
					.leftCol
						%h5 1. Математика
						%h5 2. Русский язык
						%h5 3. Обществознание
					.rightCol
						%ul.documents
							%li
								.headerLine Имеющим среднее (полное) общее образование, полученное после 1 января 2009 года, непрофильное среднее профессиональное образование
								.descriptionText=raw'Результаты ЕГЭ по математике, русскому языку, обществознанию'
							%li
								.headerLine Окончившим школу до 2009 года; имеющим профильное среднее профессиональное образование; неоконченное высшее или высшее образование
								.descriptionText Тестирование: математика, русский язык, обществознание
					.shadow=raw"&nbsp;"
				#documents
					%h1 Документы при поступлении на обучение
					.board
						.boardInner
							%h2 Перечень необходимых документов
							.cols
								.leftCol
									.title При поступлении:
									%ul
										%li Паспорт
										%li Заявление (заполняется на кафедре)
										%li Документ об образовании
										%li 6 фотографий 3х4
									.important=raw"Документы и порядок поступления на <b>дистанционное обучение</b>"
								.rightCol
									.title При переводе из другого ВУЗа:
									%ul
										%li Паспорт
										%li Заявление (заполняется на кафедре)
										%li Документ об образовании
										%li 6 фотографий 3х4
										%li Академическая справка или диплом о неполном высшем образовании
										%li Если меняли фамилию — копию документа об изменении
					.whiteBoard
						.col1 Сроки подачи документов на обучение:
						.col2
							%h6 Классическое заочное 
							.text=raw"<i>Бюджетные места:</i><br/><b>20 июня — 16 августа</b>"
							.text=raw"<i>Контрактная основа:</i><br/><b>20 июня — 30 декабря</b>"
						.delimeter=raw"&nbsp;"
						.col3
							%h6 Группа выходного дня
							.text=raw"<i>Бюджетные места:</i><br/><b>20 июня — 16 августа</b>"
							.text=raw"<i>Контрактная основа:</i><br/><b>20 июня — 30 декабря</b>"
						.delimeter=raw"&nbsp;"
						.col4
							%h6 Дистанционное обучение
							.text=raw"<i>Контрактная основа:</i><br/><b>01 мая — 01 марта</b>"
					.shadow=raw"&nbsp;"
				#contacts
					%h1 Контактная информация ИПСОП МГУЛ
					%h2 Консультация по всем вопросам выбора направления и поступления
					.cols
						.col1
							%h3 +7(498)687-37-84
							%h3 ipsop@mgul.ac.ru
							%p=raw'Мытищи (Московская обл.), ул. 1-я Институтская, д. 1 <a href="#">Схема проезда</a>'
						.col2
							%p=raw'Вы можете подать предвартительную заявку на обучение, после чего с Вами свяжется специалист для проведения консультации'
							%a.order{:href => "#"} Заявка на обучение
			#footer
				%ul
					%li
						%a{ :href => "" } Об ИПСОП МГУЛ
					%li
						%a{ :href => "" } Направления подготовки
					%li
						%a{ :href => "" } Формы обучения
					%li
						%a{ :href => "" } Стоимость обучения
					%li
						%a{ :href => "" } Поступление
					%li
						%a{ :href => "" } Контакты
						